.hidden_ {display: none !important; }
.visible_ {display: block !important;}

.w3-torquise {
    color: #61C79F !important;
}


/* don't use this on input, instead let the input box animate when focused on
input:focus {
    outline: 3px solid yellow !important;
}*/


/*
button:focus {
    outline: 3px solid yellow !important;
}
*/

.hero-image {
    background-image: url('http://static-api.visually.netdna-cdn.com/media/images/v3/index/images/hero-background.jpg');
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}